# Data
data/raw/*.csv
data/processed/*.parquet

# Virtuaaliympäristöt
.venv/
venv/

# database
database/store.db*
agentti/workspace/*.md

# Jupyter
.ipynb_checkpoints/
**/__pycache__/
*.py[cod]
config/__init__.py
.pytest_cache

# LLM 
.env

# Testaus
.coverage